<h2 class="title">List Products</h2>
    <br>
      <div class="spinner-border" style="width: 6rem; height: 6rem;"
        role="status" *ngIf="showLoading && !error">
      </div>
    <span class="sr-only" *ngIf="showLoading && !error">Loading... </span>
      <p *ngIf="loadedPosts.length < 1 && !showLoading">No posts available!</p>
        <table class="table" style="width: 60%;">
          <thead>
            <tr class="header" *ngIf="loadedPosts.length >= 1">        
              <td style="width:5%; font-weight: bold">No</td>  
              <td style="width:20%; font-weight: bold">ID</td>  
              <td style="width:10%; font-weight: bold">Trx ID</td>
              <td style="width:10%; font-weight: bold">Name</td>
              <td style="width:10%; font-weight: bold">Amount</td>
              <td style="width:5%; font-weight: bold">Stocks</td>
              <td style="width:20%; font-weight: bold">Image URL</td>
              <td style="width:10%; font-weight: bold">Category</td>
              <td style="width:20%; font-weight: bold">Description</td>
              <td style="width:10%; font-weight: bold">Action</td>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let post of loadedPosts; let i= index">        
            <td style="width:5%; font-weight: bold">{{i + 1}}</td>    
            <td style="width:20%; font-weight: bold; color: rgb(143, 94, 94);">{{post.id | shorten}}</td>
            <td style="width:10%; font-weight: bold; color: rgb(143, 94, 94);">{{post.trx_id}}</td>
            <td style="width:10%">{{post.name}}</td>
            <td style="width:10%">{{post.amount}}</td>
            <td style="width:5%">{{post.stocks}}</td>
            <td style="width:20%">
              <ul>
                <li>{{post.image_url[0] | shorten}}</li>
                <li>{{post.image_url[1] | shorten}}</li>
                <li>{{post.image_url[2] | shorten}}</li>
                <li>{{post.image_url[3] | shorten}}</li>
              </ul>
            </td>
            <td style="width:10%">{{post.category}}</td>
            <td style="width:20%">{{post.description | shorten}}</td>
            <td>
              <button
                        class="formbold-btn-edit"
                        (click)="onClickData(post)"
                      >
                      Edit
                      </button>
                      </td>
          </tr>
        </tbody>
        </table>
        <br>
        <h2 class="title"> </h2>
        
    <div class="row">
        <div class="col-2">
            <div class="formbold-main-wrapper">
                <div class="formbold-form-wrapper">
                      <form #postForm="ngForm" >
                    <div class="formbold-mb-5">
                        <label for="name" class="formbold-form-label">ID</label>
                        <input
                          type="text"
                          class="form-control"
                          id="id"
                          class="formbold-form-input"
                          required
                          ngModel
                          name="id"
                          [ngModel]="id"
                          [readonly] = "true"
                        />
                      </div>
                    <div class="formbold-mb-5">
                        <label for="trx_id" class="formbold-form-label"> Transaction ID </label>
                        <input
                          type="text"
                          name="trx_id"
                          id="trx_id"
                          class="formbold-form-input"
                          required
                          ngModel
                          name="trx_id"
                          [ngModel]="trx_id"
                          [readonly] = "true"
                        />
                      </div>
                    <div class="formbold-mb-5">
                      <label for="name" class="formbold-form-label"> Product Name</label>
                      <input
                        type="text"
                        name="name"
                        id="name"
                        class="formbold-form-input"
                        required
                        ngModel
                        name="name"
                        [ngModel]="name"
                      />
                    </div>
                    <div class="formbold-mb-5">
                      <label for="amount" class="formbold-form-label"> Amount </label>
                      <input
                        type="number"
                        name="amount"
                        id="amount"
                        class="formbold-form-input"
                        required
                        ngModel
                        name="amount"
                        [ngModel]="amount"
                      />
                    </div>
                    <div class="formbold-mb-5">
                      <label for="stocks" class="formbold-form-label"> Stocks </label>
                      <input
                        type="number"
                        name="stocks"
                        id="stocks"
                        class="formbold-form-input"
                        required
                        ngModel
                        name="stocks"
                        [ngModel]="stocks"
                      />
                    </div>
                    <div class="formbold-mb-5">
                        <label for="img_url_1" class="formbold-form-label"> Image URL </label>
                        <input
                          type="text"
                          name="img_url_1"
                          id="img_url_1"
                          class="formbold-form-input"
                          required
                          ngModel
                          name="img_url_1"
                          [ngModel]="img_url_1"
                        />
                        <input
                          type="text"
                          name="img_url_2"
                          id="img_url_2"
                          class="formbold-form-input"
                          required
                          ngModel
                          name="img_url_2"
                          [ngModel]="img_url_2"
                        />
                        <input
                          type="text"
                          name="img_url_3"
                          id="img_url_3"
                          class="formbold-form-input"
                          required
                          ngModel
                          name="img_url_3"
                          [ngModel]="img_url_3"
                        />
                        <input
                          type="text"
                          name="img_url_4"
                          id="img_url_4"
                          class="formbold-form-input"
                          required
                          ngModel
                          name="img_url_4"
                          [ngModel]="img_url_4"
                        />
                    </div>                   
                    
                    <div class="formbold-mb-5">
                      <label for="stocks" class="formbold-form-label"> Category </label>
                      <select id="category" name="category" ngModel class="formbold-form-input" [ngModel]="category">
                          <option value="shoes" >Shoes</option>
                          <option value="t-shirt">T-Shirt</option>
                          <option value="pants">Pants</option>
                          <option value="bag">Bag</option>
                        </select>
                      </div>
                    <div class="formbold-mb-5" >
                        <label for="description" class="formbold-form-label"> Description </label>
                        <input
                            type="text"
                            name="description"
                            id="description"
                            class="formbold-form-input"
                            required
                            ngModel
                            name="description"
                            [ngModel]="description"
                            style="height:100px"
                        />
                        </div>
                    <div>
                     <div>
                      
                     </div>
                      <button
                      class="formbold-btn"
                      (click)="onUpdatePost(postForm)"
                      [disabled]="!postForm.valid"
                    >
                    Edit Product
                  </button>
                   | 
                  <button
                    [disabled]="!postForm.valid"
                    class="formbold-btn-danger"
                    (click)="onClearPosts(postForm)"
                  >
                    Delete Product
                  </button>
                    </div>
                    
                </form>
                </div>
              </div>
        </div>
    </div>
