<br>
<h2 class="title">Add Products</h2>
<br>
    <div class="row">
        <div class="col-2">
            <div class="formbold-main-wrapper">
                <div class="formbold-form-wrapper">
                    <!-- <form > -->
                  <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm)">
                    <div class="formbold-mb-5">
                        <label for="trx_id" class="formbold-form-label"> Transaction ID </label>
                        <input
                          type="text"
                          name="trx_id"
                          id="trx_id"
                          placeholder="trx00XX"
                          class="formbold-form-input"
                          required
                          ngModel
                          name="trx_id"
                        />
                      </div>
                    <div class="formbold-mb-5">
                      <label for="name" class="formbold-form-label"> Product Name</label>
                      <input
                        type="text"
                        name="name"
                        id="name"
                        placeholder="Product Name"
                        class="formbold-form-input"
                        required
                        ngModel
                        name="name"
                      />
                    </div>
                    <div class="formbold-mb-5">
                      <label for="amount" class="formbold-form-label"> Amount </label>
                      <input
                        type="number"
                        name="amount"
                        id="amount"
                        placeholder="Amount"
                        class="formbold-form-input"
                        required
                        ngModel
                        name="amount"
                      />
                    </div>
                    <div class="formbold-mb-5">
                      <label for="stocks" class="formbold-form-label"> Stocks </label>
                      <input
                        type="number"
                        name="stocks"
                        id="stocks"
                        placeholder="Stocks"
                        class="formbold-form-input"
                        required
                        ngModel
                        name="stocks"
                      />
                    </div>
                    <div class="formbold-mb-5">
                        <label for="img_url_1" class="formbold-form-label">Image URL</label>
                        <input
                          type="text"
                          id="img_url_1"
                          placeholder="Small Image URL 1"
                          class="formbold-form-input"
                          required
                          ngModel
                          name="img_url_1"
                        />
                        <input
                          type="text"
                          id="img_url_2"
                          placeholder="Small Image URL 2"
                          class="formbold-form-input"
                          required
                          ngModel
                          name="img_url_2"
                        />
                        
                        <input
                          type="text"
                          id="img_url_3"
                          placeholder="Small Image URL 3"
                          class="formbold-form-input"
                          required
                          ngModel
                          name="img_url_3"
                        />

                        <input
                          type="text"
                          id="img_url_4"
                          placeholder="Small Image URL 4"
                          class="formbold-form-input"
                          required
                          ngModel
                          name="img_url_4"
                        />
                    </div>
                    <div class="formbold-mb-5">
                    <label for="stocks" class="formbold-form-label"> Category </label>
                    <select id="category" name="category" ngModel class="formbold-form-input" >
                        <option value="shoes" >Shoes</option>
                        <option value="t-shirt">T-Shirt</option>
                        <option value="pants">Pants</option>
                        <option value="bag">Bag</option>
                      </select>
                    </div>
                    <div class="formbold-mb-5" >
                        <label for="description" class="formbold-form-label"> Description </label>
                        <input
                            type="text"
                            name="description"
                            id="description"
                            placeholder="Product Description..."
                            class="formbold-form-input"
                            required
                            ngModel
                            name="description"
                            style="height:100px"
                        />
                        </div>
                    <div>
                    <button
                    class="formbold-btn"
                    type="submit"
                    [disabled]="!postForm.valid"
                    >
                    Add New Product
                  </button>
                    </div>
                    
                </form>
                </div>
              </div>
        </div>
    </div>
