
<div class="title">
    About Us
</div>
<div class="card">
    <div class="row">
      <div class="col">
            <div class="small-img-col img-clip">
                <img  src="../../assets/images/adit.png"  class="small-img" width="200" height="200">
            </div>
      </div>
      <div class="col">
        <ul style="font-weight: bold;">Aditya Yusril Fikri</ul>
        <ul style="color: grey;">yusrilAditya98</ul>
        <ul style="font-size: 13px;">Hi my real name is Aditya Yusril Fikri, I am Developer of Klik BCA Bisnis.</ul>
        </div>
    </div>
</div>
    <br>
<div class="card">
    <div class="row">
        <div class="col">
              <div class="small-img-col img-clip">
                  <img  src="../../assets/images/anggi.png"  class="small-img" width="200" height="200">
              </div>
        </div>
        <div class="col">
            <ul style="font-weight: bold;">Anggi Fitriani Lumban Batu</ul>
            <ul style="color: grey;">afa-git</ul>
            <ul style="font-size: 13px;">Hola... I am Anggi, I am Developer of Klik BCA Bisnis. </ul>
        </div>
      </div>
  </div>
