      <h2 class="title">Manage User</h2>
      <br>
      <span class="sr-only" *ngIf="showLoading && !error">Loading... </span>
      <p *ngIf="loadedPosts.length < 1 && !showLoading">No posts available!</p>
        <table class="table" style="width: 60%;" >
          <thead>
            <tr *ngIf="loadedPosts.length >= 1">        
                <th style="width:5%; font-weight: bold">No</th>    
                <th style="width:20%; font-weight: bold">ID</th>
                <th style="width:10%; font-weight: bold">User Name</th>
                <th style="width:15%; font-weight: bold">Address</th>
                <th style="width:20%; font-weight: bold">Date Modified</th>
                <th style="width:5%; font-weight: bold">No HP</th>
                <th style="width:5%; font-weight: bold">Role</th>
                <th style="width:10%; font-weight: bold">Action</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let post of loadedPosts; let i= index">        
                <th style="font-weight: bold">{{i + 1}}</th>   
                <th>{{post.id | shorten}}</th> 
                <th>{{post.name}}</th>
                <th>{{post.address | shorten}}</th>
                <th>{{post.date_modified | shorten}}</th>
                <th>{{post.no_hp}}</th>
                <th *ngIf="post.role == '1'">
                  Seller
                </th>
                <th *ngIf="post.role == '2'">
                  Buyer
                </th>
                <th>
                  <button
                        class="formbold-btn-danger"
                        (click)="onClearUser(post.id)"
                      >
                        Delete
                      </button>
                  </th>
              </tr>
            </tbody>
        </table>
 