<app-header-admin></app-header-admin>

<button class="formbold-btn" (click)="makePDF()" > 
    Download Report 
</button>
<br>
<br>
<div id="report" #report> 
  
  <!-- <p> {{ new Date() | date }}</p> -->
    <div class="container">
        <div class="row">
          <h5 style="margin-left: 100px;"> Team 8 - E Commerce</h5>
          <p style="margin-left: 100px;"> Report Products</p>
          <br>
          <br>
   
            <div>
                <h5 class="title">List Products</h5>
                <div class="spinner-border" style="width: 6rem; height: 6rem;"
                role="status" *ngIf="showLoading && !error">
            </div>
            <br>
            <span class="sr-only" *ngIf="showLoading && !error">Loading... </span>
            <p *ngIf="loadedPosts.length < 1 && !showLoading">No posts available!</p>
            <div class="row">
                <table style="margin-left: 5px;">
                <tr class="header" *ngIf="loadedPosts.length >= 1">        
                    <td style="width:5%; font-weight: bold">No</td>    
                    <td style="width:10%; font-weight: bold">Trx ID</td>
                    <td style="width:20%; font-weight: bold">Name</td>
                    <td style="width:10%; font-weight: bold">Amount</td>
                    <td style="width:5%; font-weight: bold">Stocks</td>
                    <td style="width:20%; font-weight: bold">Image URL</td>
                    <td style="width:10%; font-weight: bold">Category</td>
                    <td style="width:20%; font-weight: bold">Description</td>
                </tr>
                <tr *ngFor="let post of loadedPosts; let i= index">        
                    <td style="width:5%; font-weight: bold">{{i + 1}}</td>    
                    <td style="width:10%; font-weight: bold; color: rgb(143, 94, 94);">{{post.trx_id}}</td>
                    <td style="width:20%">{{post.title}}</td>
                    <td style="width:10%">{{post.amount}}</td>
                    <td style="width:5%">{{post.stocks}}</td>
                    <td style="width:20%">{{post.image_url | shorten}}</td>
                    <td style="width:10%">{{post.category}}</td>
                    <td style="width:20%">{{post.description | shorten}}</td>
                </tr>
                </table>
            </div>
      </div>
    </div>
</div>