
  <!-- Single Products -->
  <div class="small-container">
    <div class="row">
        <h2 class="title">Sign up</h2>
        <div class="col-6">
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" id="email" class="form-control"
                    ngModel
                    name="email"
                    required
                    email
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control"
                    ngModel
                    name="password"
                    required
                    minlength="6"
                    />
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control"
                    ngModel
                    name="name"
                    required
                    maxlength="30"
                    minlength="6"
                    />
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea type="text" id="address" class="form-control"
                    ngModel
                    name="address"
                    required
                    maxlength="50"
                    minlength="6"
                    ></textarea>
                </div>
                <div class="form-group">
                    <label for="no_hp">No Hp</label>
                    <input type="number" id="no_hp" class="form-control"
                    ngModel
                    name="no_hp"
                    required
                    maxlength="12"
                    minlength="11"
                    />
                </div>
                <div>
                    <button class="btn btn-primary" type="submit"
                    [disabled]="!authForm.valid">
                    Sign Up
                    </button> 
                    <p class="text-center"><b>Sudah</b>  punya account <a class="font-weight-bold" style="font-size: 17px; color: blue;" (click)="onLogin()">sini</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

