    <div class="container">
        <div class="row">
          <div class="col-2">
            <button class="button button2" [routerLink]="['../admin']">
              Dashboard Admin
            </button>
            |
              <button class="button button2" [routerLink]="['../productadd']">
                Add Product
              </button>
              |
              <button
                class="button button2"
                [routerLink]="['../productedit']"
              >
                View List/Edit Products 
              </button>
              |
              <button
                class="button button2"
                [routerLink]="['../users']"
              >
                Manage User
              </button>   
              |
              <button
                class="button button2"
                [routerLink]="['../report']"
              >
                Report
              </button>           
            </div>
        </div>
    </div>
